@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Oxyge|Raleway');
@import url('http://fonts.googleapis.com/earlyaccess/sawarabigothic.css');

    /*===========PC==========*/
@media screen and (min-width:768px){
    #wrapper {
        margin: 0, auto;
        margin-left: 24%;
        height: 100%;
    }

    article {
        margin-left: 24px;
        margin-top: 48px;
    }

}

    /*==========Mobile==========*/
@media screen and (max-width:540px) {

    header {
        font-size: 28px;
    }
}

    /*==========Global==========*/

html body {
    height: 100%;
    font-family: 'Oxygen', 'Sawarabi Gothic',  'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',sans-serif;
    background-color: white;
    color: white;
    background-color: gray;
    margin: 0;
    width: auto;
    height: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav a:active {
    transition: 0.3s;
    color: white;
}

nav .mdl-button {
    color: gray;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    text-transform: none;
    font-size: 24px;
    border-radius: 0 0 8px 8px / 0 0 8px 8px;
    background-color: rgb(230,230,230);
}

header h1 {
    margin: auto;
    padding-top: 3%;
    margin-left: 12px;
    line-height: 0.8;
    font-size: 38px;
    font-family: 'Oxygen', 'Sawarabi Gothic',sans-serif;
}

article p,article ul li {
    font-family: 'Oxygen', "Sawarabi Gothic", sans-serif;
}

footer {
    background-color: #e6e6e6;
    color: gray;
    border-radius: 5px 5px 0 0 / 5px 5px 0 0 ;
    width: auto;
    position: fixed;
    bottom: 0;
    margin-left: 30%;
    font-size: 16px;
    text-align: center;
}

footer p {
    margin: 0 5px 0;


::selection {
    background-color: #ff9632; 
}

::-moz-selection {
    background-color: #ff9632;
}
