@charset "utf-8";*

body {
    font-family: 'Noto Sans Japanese', sans-serif;
}

#wrapper {
	margin: 0, auto;
    height: auto;
}

header {
	font-size: 36px;
	text-align: center;
	margin-top: 4px;
}

header a {
	text-decoration: none;
	color: #000;
}

nav {
	font-size: 21px;
    width: 300px;
	margin-left: 34%;
	margin-top: -18px;
}

nav a {
	color: #000;
	text-decoration: none;
}

.hr1 {
	margin-top: 20px;
	width: 42%;
}

#pankuzu {
    color: #000;
    font-size: 19px;
    margin-top: 18px;
    margin-left: -5px;
    
}
article{
	margin-left: 33%;
}

article a {
    color: #000;
    
}

.hr2 {
    width 42%;
	margin-left: -335px;
    z-index: 999;
}

footer{
	width: 42%;
	text-align: center;
    margin-bottom: 10%;
    margin: 0px auto;
}
/*-------------------------------------------*/


/*-------------------------------------------*/

.transition a:link, .transition a:visited {
    -webkit-transition: 0.2s ease-in-out;
       -moz-transition: 0.2s ease-in-out;
         -o-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;}

.transition a:active, .transition a:hover {
    opacity:0.4;
    filter:alpha(opacity=60);
}

::selection {
    background-color: #ff8c00; 
}

::-moz-selection {
    background-color: #ff8c00;
}



